<app-bouton-retour></app-bouton-retour>
<div class="login-container">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input formControlName="emailOrUsername" type="text" placeholder="Email ou nom d'utilisateur" required>
    <app-password-field
      [control]="passwordControl"
      placeholder="Mot de passe"
      [required]="true"
    ></app-password-field>
    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
  <div *ngIf="error" class="error">{{error}}</div>
  <div *ngIf="success" class="success">Connexion réussie ! Redirection ...</div>
</div>