<app-bouton-retour></app-bouton-retour>
<div class="login-container">
  <h2>Connexion</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input formControlName="emailOrUsername" type="text" placeholder="Email ou nom d'utilisateur" required>
    <input formControlName="password" type="password" placeholder="Mot de passe" required>
    <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
  </form>
  <div *ngIf="error" class="error">{{error}}</div>
  <div *ngIf="success" class="success">Connexion réussie ! Redirection ...</div>
</div>