.card {
  width: 95%;
  max-width: 100%;
  min-width: 0;
  background: #f7f7fa;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px #e4e4fd;
  padding: 0.7rem 0.5rem 1.2rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  
}
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 0.5rem;
}
.card-meta {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0.7rem;
  display: flex;
  gap: 2.2rem; // Ajouté pour espacer les meta
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

